<div id="pageTitle">
	<h1>Contacto</h1>
</div>

<div id="toolbar">
     <div id="leftItem" class="regularButton"><%= link_to "Atras", :action => :index %></div>
</div>

<div id="content">
	
	<% if @just_bought %>
		<div id='app_message'>
			Tu compra se realiz&oacute; con &eacute;xito!
		</div>
	<% end %>
	
	<div id="information">
		<ul>
			<li>
	            <div class="itemLabel">Nombre del contacto</div>
	            <div class="itemValue"><%= @freight.owner_full_name %></div>
	        </li>
			<% unless @freight.owner_cell_phone_number.empty? %>
				<li>
		            <div class="itemLabel">Celular</div>
		            <div class="itemValue"><%= @freight.owner_cell_phone_number %></div>
		        </li>
			<% end %>
			<li>
	            <div class="itemLabel" style='margin-top:15px;'>Tel&eacute;fono</div>
	            <div class="itemValue" ><%= @freight.owner_phone %></div>
	        </li>
			<li>
	            <div class="itemLabel">Correo electr&oacute;nico</div>
	            <div class="itemValue"><%= @freight.owner_email %></div>
	        </li>
		</ul>
	</div>
	
	<div id="information">
		<ul>
			<li>
	            <div class="itemValueSpecial"><em><%= @freight.category.capitalize %></em></div>
	        </li>
	        <li>
	            <div class="itemLabel">Origen</div>
	            <div class="itemValue"><%= format_city @freight.origin_name %></div>
	        </li>

			<li>
	            <div class="itemLabel">Destino</div>
	            <div class="itemValue"><%= format_city @freight.destination_name %></div>
	        </li>

			<li>
	            <div class="itemLabel">Fecha de salida</div>
	            <div class="itemValue"><%= format_date @freight.date_departure %></div>
	        </li>

			<% unless @freight.date_arrival.empty? %>
				<li>
		            <div class="itemLabel">Fecha de llegada</div>
		            <div class="itemValue"><%= format_date @freight.date_arrival %></div>
		        </li>
			<% end %>

			<li>
	            <div class="itemLabel">Peso</div>
	            <div class="itemValue"><%= @freight.weight %> <%= @freight.weight_unit %></div>
	        </li>
			<% unless @freight.price.empty? %>
				<li>
		            <div class="itemLabel">Precio estimado</div>
		            <div class="itemValue"><%= @freight.price %> <%=  @freight.price_currency %></div>
		        </li>
			<% end %>
			<% unless @freight.comments.empty? %>
				<li>
		            <div class="itemValueSpecial"><%= @freight.comments %></div>
		        </li>
			<% end %>
	    </ul>
	</div>

</div>