<div id="pageTitle">
	<h1>Busca cargas</h1>
</div>

<div id="toolbar">

</div>


<div id="content">
	<form method="POST" action="<%= url_for :action => :do_search %>">
	    <ul>
	        <li>
				<label for="origin" class="fieldLabel">Origen</label>	
	        	<input type="text" name="origin" <%= placeholder( "Origen" ) %> />
	      	</li>
			<li>
				<label for="destination" class="fieldLabel">Destino</label>	
	        	<input type="text" name="destination" <%= placeholder( "Destino" ) %> />
	      	</li>
	
			<li>
	        	<select name="finish">
					<option>Fecha de salida</option>
					<option value="<%= Date.today.to_s %>">Hoy</option>
					<option value="<%= (Date.today + 1).to_s%>">Ma&ntilde;ana</option>
					<option value="<%= (Date.today + 7).to_s %>">En esta semana</option>
					<option value="<%= (Date.today + 30).to_s %>">En este mes</option>
				</select>
	      	</li>
		</ul>
		<input type="submit" class="standardButton" value="Buscar" />
	</form>
</div>